body {
  background-color: #242424;
}
p {
  color: #b0f442;
}
#normalborder {
  color: #b0f442;
  background-color: #303030;
  font-family: Century Gothic;
  border-style: solid;
  border-width: 1px 0px 0px 3px;
  padding: 5px;
  border-color: #b0f442;
}
#linkpurple {
  color: #8d0cff;
  font-size: 14;
  font-family: monospace;
}
