body {
  background-color: #252534;
}
p {
  color: #458cc1;
}
h1 {
  color: #465663;
}
#normalborder {
  color: #458cc1;
  background-color: #303040;
  border-style: solid;
  border-width: 2px 0px 0px 5px;
  padding: 7px;
  border-color: #2c9ff7;
}
#monolink1 {
  color: #84b4d8;
  font-size: 14;
  font-family: monospace;
  text-decoration:none;
  font-weight: bolder;
}
.sidebar-menu-a {
  
}
