
#normalText0 {
  color: #458CC1;
  font-family: Comfortaa;
}
#monolink1 {
  color: #84b4d8;
  font-size: 14;
  font-family: monospace;
  text-decoration:none;
  font-weight: bolder;
}
.sidebar-menu-a {
  height:100%;
  width:200px;
  background color:#272736;
  position:fixed !important;
  z-index:1;
  overflow:auto;
}
.transitionFade {
  -webkit-transition-duration: 0.27s; /* for safari loosers */
  transition-duration: 0.27s;
}
.sideButton {
  text-decoration:none;
    background-color: #458cc1; 
    color: #84b4d8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.sideButton:hover {
  text-decoration:none;
  border-style: solid;
  border-color: #84b4d8;
  background-color: #003744; 
  color: #84b4d8;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
