/* this is mainly just for the devcraft title block */
.devbgtitle {
	position: fixed;
	top: 0;
	border-style:solid;
	border-width: 0px 0px 0px 0px;
	background-color:#54556E;
	padding: 15px;
	font-family: Comfortaa;
	font-size:20pt;
}
.devbgblock {
	padding:6px;
	background-color:#40415A;
	color:#FFFFFF;
}
.devtext1 {
	color:#FFFFFF;
}
#devTitleText {
	font-size:20pt;
	font-family: Comfortaa;
}

/* everything under this is stuff im experimenting with */

