/* this is mainly just for the devcraft title block */
#body {
	background-color:rgb(64, 65, 90);
}
.devbgtitle {
	background-color:#54556E;
	font-family: Comfortaa;
	font-size:17pt;
	border-style: solid;
	border-color: #54556E;
	border-width: 3px;
	padding: 10px;
}
.devbgblock {
	padding:6px;
	background-color:rgb(64, 65, 90);
	color:#FFFFFF;
	text-align: center;
	font-size:10pt;
	font-family: Comfortaa;
}
a {
	color: #ffffff;
	font-family: Comfortaa;
	font-size: 10pt;
}
a:hover {
	color: #F99A66;
	font-family: Comfortaa;
	font-size: 10.2pt;
}
a:active {
	color: rgb(213, 81, 97);
	font-family: Comfortaa;
	font-size: 10.2pt;
}
#sidelink {
	font-size:15pt;
	font-family: Comfortaa;
	text-align: left;
	
}

/* everything under this is stuff im experimenting with */

.centerThis {
	height: 10em;
	position: relative; 
	margin-top:auto;
	margin-bottom:auto;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
